<div class="aside" id="aside">
    <div class="menu">
        <span class="title">菜单导航</span>
        <div class="icon" onclick="aside.toggleMenu()"></div>
    </div>
    <div class="main">
        <ul class="item-list">
            <li>
                <div class="nav icon1">
                    <div style="position: absolute;top: 0;left: 0;width: 68%; height: 100%;"
                         onclick="aside.toggleShow(event)"></div>
                    <span>内容管理</span>
                    <div class="rate">
                        <i class="refurbish"></i>
                        <i class="site"></i>
                        <i class="add add-show" onclick="aside.plus(event)"></i>
                    </div>
                </div>
                <div class="subnav subnav-show">
                    <ul class="subnav-item-list">
                        <li class="subnav-list">
                            <div class="subnav-main" onmouseup='aside.operation(event)' id="subnav-main">
                                <span class="subnav-shrink">
                                    <img src="/images/elbow-end-plus.gif" alt="">
                                </span>
                                <span class="subnav-icon">
                                    <img src="/images/folder.gif" alt="">
                                </span>
                                <span class="subnav-summay">创业知识库</span>
                            </div>
                            <div>
                                <ul>
                                    <li>
                                        <div style="margin-left: -.2rem">
                                        <span class="subnav-shrink">
                                            <img src="/images/elbow-end-plus.gif" alt="">
                                        </span>
                                            <span class="subnav-icon">
                                            <img src="/images/folder.gif" alt="">
                                        </span>
                                            <div style="display: inline-block;vertical-align: top">
                                                <span>首页</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="nav icon1 iconk">
                    <div style="position: absolute;top: 0;left: 0;width: 68%; height: 100%;"
                         onclick="aside.toggleShow(event)"></div>
                    <span>模板管理</span>
                    <div class="rate">
                        <i class="refurbish"></i>
                        <i class="site"></i>
                        <i class="add" onclick="aside.plus(event)"></i>
                    </div>
                </div>
                <div class="subnav">
                    <ul class="subnav-item-list">
                        <li class="subnav-list">
                            <div class="subnav-main">
                                <span class="subnav-shrink">
                                    <img src="/images/elbow-end-plus.gif" alt="">
                                </span>
                                <span class="subnav-icon">
                                    <img src="/images/folder.gif" alt="">
                                </span>
                                <div class="subnav-summay">
                                    <span>创业知识库</span>
                                    <div style="margin-left: -.2rem">
                                        <span class="subnav-shrink">
                                            <img src="/images/elbow-end-plus.gif" alt="">
                                        </span>
                                        <span class="subnav-icon">
                                            <img src="/images/folder.gif" alt="">
                                        </span>
                                        <div style="display: inline-block;vertical-align: top">
                                            <span>首页</span>
                                        </div>
                                    </div>
                                    <div style="margin-left: -.2rem">
                                        <span class="subnav-shrink">
                                            <img src="/images/elbow-end-plus.gif" alt="">
                                        </span>
                                        <span class="subnav-icon">
                                            <img src="/images/folder.gif" alt="">
                                        </span>
                                        <div style="display: inline-block;vertical-align: top">
                                            <span>首页</span>
                                        </div>
                                    </div>
                                    <div style="margin-left: -.2rem">
                                        <span class="subnav-shrink">
                                            <img src="/images/elbow-end-plus.gif" alt="">
                                        </span>
                                        <span class="subnav-icon">
                                            <img src="/images/folder.gif" alt="">
                                        </span>
                                        <div style="display: inline-block;vertical-align: top">
                                            <span>首页</span>
                                        </div>
                                    </div>
                                    <div style="margin-left: -.2rem">
                                        <span class="subnav-shrink">
                                            <img src="/images/elbow-end-plus.gif" alt="">
                                        </span>
                                        <span class="subnav-icon">
                                            <img src="/images/folder.gif" alt="">
                                        </span>
                                        <div style="display: inline-block;vertical-align: top">
                                            <span>首页</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="nav icon1 iconk">
                    <div style="position: absolute;top: 0;left: 0;width: 68%; height: 100%;"
                         onclick="aside.toggleShow(event)"></div>
                    <span>资源管理</span>
                    <div class="rate">
                        <i class="refurbish"></i>
                        <i class="site"></i>
                        <i class="add" onclick="aside.plus(event)"></i>
                    </div>
                </div>
                <div class="subnav">
                    <ul class="subnav-item-list">
                        <li class="subnav-list">
                            <div class="subnav-main">
                                <span class="subnav-shrink">
                                    <img src="/images/elbow-end-plus.gif" alt="">
                                </span>
                                <span class="subnav-icon">
                                    <img src="/images/folder.gif" alt="">
                                </span>
                                <div class="subnav-summay">
                                    <span>创业知识库</span>
                                    <div style="margin-left: -.2rem">
                                        <span class="subnav-shrink">
                                            <img src="/images/elbow-end-plus.gif" alt="">
                                        </span>
                                        <span class="subnav-icon">
                                            <img src="/images/folder.gif" alt="">
                                        </span>
                                        <div style="display: inline-block;vertical-align: top">
                                            <span>首页</span>
                                        </div>
                                    </div>
                                    <div style="margin-left: -.2rem">
                                        <span class="subnav-shrink">
                                            <img src="/images/elbow-end-plus.gif" alt="">
                                        </span>
                                        <span class="subnav-icon">
                                            <img src="/images/folder.gif" alt="">
                                        </span>
                                        <div style="display: inline-block;vertical-align: top">
                                            <span>首页</span>
                                        </div>
                                    </div>
                                    <div style="margin-left: -.2rem">
                                        <span class="subnav-shrink">
                                            <img src="/images/elbow-end-plus.gif" alt="">
                                        </span>
                                        <span class="subnav-icon">
                                            <img src="/images/folder.gif" alt="">
                                        </span>
                                        <div style="display: inline-block;vertical-align: top">
                                            <span>首页</span>
                                        </div>
                                    </div>
                                    <div style="margin-left: -.2rem">
                                        <span class="subnav-shrink">
                                            <img src="/images/elbow-end-plus.gif" alt="">
                                        </span>
                                        <span class="subnav-icon">
                                            <img src="/images/folder.gif" alt="">
                                        </span>
                                        <div style="display: inline-block;vertical-align: top">
                                            <span>首页</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="nav icon1 iconk">
                    <div style="position: absolute;top: 0;left: 0;width: 68%; height: 100%;"
                         onclick="aside.toggleShow(event)"></div>
                    <span>我的工作台</span>
                    <div class="rate">
                        <i class="refurbish"></i>
                        <i class="site"></i>
                        <i class="add" onclick="aside.plus(event)"></i>
                    </div>
                </div>
                <div class="subnav">
                    <ul class="subnav-item-list">
                        <li class="subnav-list">
                            <div class="subnav-main">
                                <span class="subnav-shrink">
                                    <img src="/images/elbow-end-plus.gif" alt="">
                                </span>
                                <span class="subnav-icon">
                                    <img src="/images/folder.gif" alt="">
                                </span>
                                <div class="subnav-summay">
                                    <span>创业知识库</span>
                                    <div style="margin-left: -.2rem">
                                        <span class="subnav-shrink">
                                            <img src="/images/elbow-end-plus.gif" alt="">
                                        </span>
                                        <span class="subnav-icon">
                                            <img src="/images/folder.gif" alt="">
                                        </span>
                                        <div style="display: inline-block;vertical-align: top">
                                            <span>首页</span>
                                        </div>
                                    </div>
                                    <div style="margin-left: -.2rem">
                                        <span class="subnav-shrink">
                                            <img src="/images/elbow-end-plus.gif" alt="">
                                        </span>
                                        <span class="subnav-icon">
                                            <img src="/images/folder.gif" alt="">
                                        </span>
                                        <div style="display: inline-block;vertical-align: top">
                                            <span>首页</span>
                                        </div>
                                    </div>
                                    <div style="margin-left: -.2rem">
                                        <span class="subnav-shrink">
                                            <img src="/images/elbow-end-plus.gif" alt="">
                                        </span>
                                        <span class="subnav-icon">
                                            <img src="/images/folder.gif" alt="">
                                        </span>
                                        <div style="display: inline-block;vertical-align: top">
                                            <span>首页</span>
                                        </div>
                                    </div>
                                    <div style="margin-left: -.2rem">
                                        <span class="subnav-shrink">
                                            <img src="/images/elbow-end-plus.gif" alt="">
                                        </span>
                                        <span class="subnav-icon">
                                            <img src="/images/folder.gif" alt="">
                                        </span>
                                        <div style="display: inline-block;vertical-align: top">
                                            <span>首页</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="nav icon1 iconk">
                    <div style="position: absolute;top: 0;left: 0;width: 68%; height: 100%;"
                         onclick="aside.toggleShow(event)"></div>
                    <span>系统管理</span>
                    <div class="rate">
                        <i class="refurbish"></i>
                        <i class="site"></i>
                        <i class="add" onclick="aside.plus(event)"></i>
                    </div>
                </div>
                <div class="subnav">
                    <ul class="subnav-item-list">
                        <li class="subnav-list">
                            <div class="subnav-main">
                                <span class="subnav-shrink">
                                    <img src="/images/elbow-end-plus.gif" alt="">
                                </span>
                                <span class="subnav-icon">
                                    <img src="/images/folder.gif" alt="">
                                </span>
                                <div class="subnav-summay">
                                    <span>创业知识库</span>
                                    <div style="margin-left: -.2rem">
                                        <span class="subnav-shrink">
                                            <img src="/images/elbow-end-plus.gif" alt="">
                                        </span>
                                        <span class="subnav-icon">
                                            <img src="/images/folder.gif" alt="">
                                        </span>
                                        <div style="display: inline-block;vertical-align: top">
                                            <span>首页</span>
                                        </div>
                                    </div>
                                    <div style="margin-left: -.2rem">
                                        <span class="subnav-shrink">
                                            <img src="/images/elbow-end-plus.gif" alt="">
                                        </span>
                                        <span class="subnav-icon">
                                            <img src="/images/folder.gif" alt="">
                                        </span>
                                        <div style="display: inline-block;vertical-align: top">
                                            <span>首页</span>
                                        </div>
                                    </div>
                                    <div style="margin-left: -.2rem">
                                        <span class="subnav-shrink">
                                            <img src="/images/elbow-end-plus.gif" alt="">
                                        </span>
                                        <span class="subnav-icon">
                                            <img src="/images/folder.gif" alt="">
                                        </span>
                                        <div style="display: inline-block;vertical-align: top">
                                            <span>首页</span>
                                        </div>
                                    </div>
                                    <div style="margin-left: -.2rem">
                                        <span class="subnav-shrink">
                                            <img src="/images/elbow-end-plus.gif" alt="">
                                        </span>
                                        <span class="subnav-icon">
                                            <img src="/images/folder.gif" alt="">
                                        </span>
                                        <div style="display: inline-block;vertical-align: top">
                                            <span>首页</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="show" id="show">
    <div class="show-icon" onclick="aside.toggleMenu()"></div>
</div>
<div id="menu">
    <ul>
        <li>5555</li>
    </ul>
</div>
<style>
    .aside {
        position: absolute;
        width: 1.98rem;
        left: 0.03rem;
        height: calc(100% - 0.6rem - 0.65rem);
        border: 1px solid #99bbe8;
        transition: left .3s linear 0s;
        background: #FFF;
        z-index: 9999;
    }

    .menu {
        font-size: 0.12rem;
        color: #15428b;
        padding: .05rem .1rem;
        font-weight: bold;
        border-bottom: 1px solid #99bbe8;
        background: url("/images/navigate.gif") no-repeat #d0def0;
        background-position-y: center;
        background-position-x: .1rem;
    }

    .menu .title {
        margin-left: .2rem;
    }

    .menu .icon {
        float: right;
        width: .15rem;
        height: .15rem;
        background: url("/images/tool-sprites.gif") no-repeat;
        background-position-y: -1.65rem;
        cursor: pointer;
    }

    .menu .icon:hover {
        background-position: -0.15rem -1.65rem;
    }

    .show {
        position: absolute;
        width: .2rem;
        left: -.2rem;
        padding: .1rem 0;
        height: calc(100% - 0.6rem - 0.65rem);
        border: 1px solid #99bbe8;
        background: #d0def0;
        text-align: center;
        overflow: hidden;
        z-index: 8888;
        box-sizing: border-box;
        transition: left .2s linear .3s;
    }

    .show .show-icon {
        position: relative;
        left: 50%;
        width: .15rem;
        height: .15rem;
        background: url("/images/tool-sprites.gif") no-repeat;
        background-position-y: -1.65rem;
        transform: translateX(-50%);
    }

    .main {
        font-size: 0.11rem;
        overflow: hidden;
    }

    .main .item-list {
        border-left: 1px solid #99bbe8;
        border-right: 1px solid #99bbe8;
    }

    .main .nav {
        position: relative;
        padding: .05rem .1rem;
        border-bottom: 1px solid #99bbe8;
        background-color: #c6d9e7;
        background-repeat: no-repeat;
        z-index: 6666;
    }

    .main .nav.icon1 {
        background-image: url("/images/folder_content.png");
        background-position-y: center;
        background-position-x: .1rem;
    }

    .main .nav.icon2 {
        background-image: url("/images/folder_star.png");
        background-position-y: center;
        background-position-x: .1rem;
    }

    .main .nav.icon3 {
        background-image: url("/images/folder_resource.png");
        background-position-y: center;
        background-position-x: .1rem;
    }

    .main .nav.icon4 {
        background-image: url("/images/folder_mywork.png");
        background-position-y: center;
        background-position-x: .1rem;
    }

    .main .nav.icon5 {
        background-image: url("/images/display.png");
        background-position-y: center;
        background-position-x: .1rem;
    }

    .nav .rate {
        height: .15rem;
        float: right;
    }

    .nav .rate i {
        display: inline-block;
        width: 0.15rem;
        height: 0.15rem;
        background: url("/images/tool-sprites.gif") no-repeat;
        cursor: pointer;
    }

    .nav .rate .add {
        background-position-y: -2.4rem;
    }

    .nav .rate .add:hover {
        background-position-x: -0.15rem;
    }

    .nav .rate .refurbish {
        background-position-y: -2.25rem;
    }

    .nav .rate .refurbish:hover {
        background-position-x: -0.15rem;
    }

    .nav .rate .site {
        background-position-y: -1.95rem;
    }

    .nav .rate .site:hover {
        background-position-x: -0.15rem;
    }

    .nav .rate .search {
        background-position-y: -2.7rem;
    }

    .nav .rate .search:hover {
        background-position-x: -0.15rem;
    }

    .main .nav span {
        margin-left: .2rem;
        color: #222;
    }

    .subnav {
        position: relative;
        height: 0;
        overflow: auto;
        box-sizing: border-box;
        transition: all .3s linear 0s;
        z-index: 0;
    }

    .subnav-show {
        height: calc(100% - .2rem * 8) !important;
    }

    .add.add-show {
        background-position-y: -2.55rem !important;
    }

    .subnav .subnav-main {
        line-height: .2rem;
        padding: 0 0.1rem;
        /* border: 1px dashed #99bbe8;*/
        /* background: #c6d9e7;*/
        box-sizing: border-box;
        cursor: pointer;
    }

    .subnav .subnav-main .subnav-summay {
        display: inline-block;
        vertical-align: top;
    }

    li {
        list-style: none;
    }

    #menu {
        position: absolute;
        display: none;
        z-index: 99999;
        border: 1px solid #000000;
        background: #00B7FF;

    }
</style>
<script type="text/javascript">
    var body = document.documentElement || document.body;
    var menu = document.getElementById("menu");
    body.oncontextmenu = (event)=> {
        if (event.clientX <= 196) {
            return false;
        } else {
            menu.style.display = "none"
        }
    }
    const aside = {
        asideE: document.getElementById('aside'),
        showE: document.getElementById('show'),
        subnav: document.getElementsByClassName('subnav'),
        add: document.getElementsByClassName('add'),
        flag: true,
        toggleMenu: ()=> {
            if (aside.flag) {
                aside.asideE.style.cssText = 'left:-1.98rem;'
                aside.showE.style.cssText = 'left:0.03rem;'
            } else {
                aside.asideE.style.cssText = 'left:.03rem;'
                aside.showE.style.cssText = 'left:-0.2rem;'
            }
            aside.flag = !aside.flag
        },
        plus: (event)=> {
            event.stopPropagation();
            var tar = event.target || window.event.target;
            var flagT = tar.parentNode.parentNode.nextElementSibling.className.indexOf('subnav-show');
            for (var i = 0, len = aside.subnav.length; i < len; i++) {
                aside.subnav[i].className = 'subnav';
                aside.add[i].className = 'add';
            }
            if (flagT < 0) {
                tar.parentNode.parentNode.nextElementSibling.className = 'subnav subnav-show'
                tar.className = 'add add-show'
            } else {
                tar.parentNode.parentNode.nextElementSibling.className = 'subnav'
                tar.className = 'add'
            }
        },
        toggleShow: (event)=> {
            event.stopPropagation();
            var tar = event.target || window.event.target;
            var flagT = tar.parentNode.nextElementSibling.className.indexOf('subnav-show');
            for (var i = 0, len = aside.subnav.length; i < len; i++) {
                aside.subnav[i].className = 'subnav';
                aside.add[i].className = 'add';
            }
            if (flagT < 0) {
                tar.parentNode.nextElementSibling.className = 'subnav subnav-show'
                tar.parentNode.getElementsByClassName('add')[0].className = 'add add-show'
            } else {
                tar.parentNode.nextElementSibling.className = 'subnav'
                tar.parentNode.getElementsByClassName('add')[0].className = 'add'
            }
        },
        operation: (event)=> {
            var btnNum = event.button;
            if (btnNum == 2) {
                var e = event || window.event;
                //鼠标点的坐标
                var oX = e.clientX;
                var oY = e.clientY;
                //菜单出现后的位置
                menu.style.display = "block";
                menu.style.left = oX / 100 + "rem";
                menu.style.top = oY / 100 + "rem";
                return false;//取消右键点击的默认事件
            } else if (btnNum == 1) {
                console.log("中键！");
            } else if (btnNum == 0) {
                alert("您点击了鼠标左键！")
            }
            else {
                alert("您点击了" + btnNum + "号键，我不能确定它的名称。");
            }
        },
    }
</script>