<%- include header.ejs %>
<aside>
    <%- include aside.ejs %>
</aside>
<main>
    <%- include main.ejs %>
</main>

<%- include footer.ejs %>
<style>
    body {
        background: #c6d9e7;
    }
</style>